# Supabase
VITE_SUPABASE_URL=https://zwuoewhxqndmutbfyzka.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_J7IptpekQyw7IaT1iPNZOg_8NHPZO-m
SUPABASE_SECRET_KEY=sb_secret_50jFQpOzx82AwwFGuZwokw_6kikNF8b

PESAPAL_CONSUMER_KEY=cbxUAEznrzpODHssJh1USiaZt+2fGsZb
PESAPAL_CONSUMER_SECRET=cvNPPMPiluiLC+rTvqzqZG05iw4=
PESAPAL_IPN_ID=your_pesapal_ipn_id
APP_BASE_URL=https://blueoxrides.com

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# App URLs (for Vercel deployment)
VITE_APP_URL=http://localhost:3000
